<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD//EN" 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>       
  <session-factory>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property> 
 <!--    <mapping resource="Model.hbm.xml"/> -->
 <mapping class="net.endpoint.model.User"/>
 <mapping class="net.endpoint.model.Domain"/>
 <mapping class="net.endpoint.model.account.Account"/>
 <mapping class="net.endpoint.model.account.Person"/>
 <mapping class="net.endpoint.model.account.Address"/>
 <mapping class="net.endpoint.model.account.Phone"/>
  <mapping class="net.endpoint.model.SecurityRole"/>
  </session-factory>
</hibernate-configuration>