<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
  <mvc:annotation-driven />  
 <context:component-scan base-package="net.endpoint" />  
 <mvc:resources mapping="/resources/**" location="/resources/" />
<import resource="classpath:persistance.xml"/>

   <bean id="mailSender"
   	class="org.springframework.mail.javamail.JavaMailSenderImpl"
   	lazy-init="false">
         <property name="host" value="email-smtp.us-east-1.amazonaws.com"/>
         <property name="port" value="25"></property>
         <property name="username" value="AKIAI7A26VJDLF4OJQNA"></property>
         <property name="password" value="AhRoDI/aM9jAGkGKYSor9Yjc1qL+ykqLOBAIN0pMJqbA"></property>
    </bean>

   <bean id="myEmailService" class="net.endpoint.service.email.EmailServiceImpl">
	 <property name="sender" ref="mailSender"></property>
	 </bean>
</beans>